---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { newtApClient } from "@/api/newtApClient";
import type { Member, Domain } from "@/types/newt";

const client = newtApClient();
const [membersResponse, domainsResponse] = await Promise.all([
  client.getContents<Member>({
    appUid: "website",
    modelUid: "member",
  }),
  client.getContents<Domain>({
    appUid: "website",
    modelUid: "domain",
  }),
]);

const { items: members } = membersResponse;
const { items: domains } = domainsResponse;
---
<BaseLayout title="Members">
  <h1>Members</h1>

  <ul>
    {
      domains.map((domain) => (
        <li>
          <a href={`/members/?domain=${domain.slug}`}>{domain.name}</a>
        </li>
      ))
    }
  </ul>

  <ul>
    {
      members.map((member) => (
        <li>
          <a href={`/members/${member.slug}`}>{member.name}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>