---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { newtApClient } from "@/api/newtApClient";
import type { Work } from "@/types/newt";

const client = newtApClient();
const { items: works } = await client.getContents<Work>({
  appUid: "website",
  modelUid: "work",
});
---
<BaseLayout title="Works">
  <div>
    <h1>Works</h1>
  
    <ul>
      {
        works.map((work) => (
          <li>
            <a href={`/works/${work.slug}`}>{work.title}</a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>