/* スタイルのリセット */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  scroll-padding-top: 9.6rem;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  scroll-padding-top: 9.6rem;
}

a {
  color: var(--fg-accent);
  text-decoration: underline;
}

a:hover {
  color: var(--fg-accent-hover);
  text-decoration: none;
}

img,
video {
  vertical-align: middle;
}
