---
import ContentPageLayout from "@/layouts/ContentPageLayout.astro";
import CustomTypography from "@/components/CustomTypography/index.astro";
import CustomList from "@/components/CustomList/index.astro";
---
<ContentPageLayout title="Company">
  <section class="body">
    <CustomTypography as="h1" variant="title-large">Company</CustomTypography>

    <section class="content-section" id="Philosophy">
      <CustomTypography class="section-title" as="h2" variant="title-medium">Philosophy</CustomTypography>

      <CustomTypography variant="title-medium">
        ヒトを大切に、想いをカタチに、価値ある未来を創造する
      </CustomTypography>
    </section>

    <section class="content-section" id="Mission">
      <CustomTypography class="section-title" as="h2" variant="title-medium">Mission</CustomTypography>

      <CustomTypography variant="title-medium">
        顧客の要望を最良の形で実現すること<br />
        クリエイティブで世の中を豊かにすること<br />
        繋がる全ての人に感動を与えること
      </CustomTypography>
    </section>

    <section class="content-section" id="Value">
      <CustomTypography class="section-title" as="h2" variant="title-medium">Value</CustomTypography>

      <CustomTypography variant="title-medium">
        人の価値を最大化し、世の中の価値に転換する
      </CustomTypography>
    </section>

    <section class="content-section principles" id="Value">
      <CustomTypography class="section-title" as="h2" variant="title-medium">Principles</CustomTypography>
      
      <div class="principles-list">
        <section class="principles-item">
          <CustomTypography variant="title-small" as="h3">
            信頼を得る
          </CustomTypography>
  
          <CustomTypography variant="body-large">
            仕事とは、顧客・仲間との信頼関係で成り立っています。社会人として、強い信頼関係を築くために下記を意識して行動しましょう。
          </CustomTypography>
    
          <CustomList class="principles-item-list">
            <CustomTypography as="li">
              顧客を知る
            </CustomTypography>
            
            <CustomTypography as="li">
              顧客の期待を上回る努力をする
            </CustomTypography>
            
            <CustomTypography as="li">
              自己に責任を持つ
            </CustomTypography>
            
            <CustomTypography as="li">
              他人任せにしない
            </CustomTypography>
            
            <CustomTypography as="li">
              仲間を理解し助け合う
            </CustomTypography>
            
            <CustomTypography as="li">
              先を見越して行動する
            </CustomTypography>
            
            <CustomTypography as="li">
              素早く行動する
            </CustomTypography>
            
            <CustomTypography as="li">
              自信を持って行動する
            </CustomTypography>
            
            <CustomTypography as="li">
              常に感謝の気持ちを持つ
            </CustomTypography>
          </CustomList>
        </section>
  
        <section class="principles-item">
          <CustomTypography variant="title-small" as="h3">
            成長する
          </CustomTypography>
  
          <CustomTypography variant="body-large">
            成長の無い組織は存続しません。また、組織の成長には社員各々の成長が不可欠です。成長を続けるために下記を意識して行動しましょう。
          </CustomTypography>
    
          <CustomList class="principles-item-list">
            <CustomTypography as="li">
              高い目標を持つ
            </CustomTypography>

            <CustomTypography as="li">
              失敗を恐れない
            </CustomTypography>

            <CustomTypography as="li">
              諦めない
            </CustomTypography>

            <CustomTypography as="li">
              自主的に行動する
            </CustomTypography>

            <CustomTypography as="li">
              自身より優秀な物・人間と比較する
            </CustomTypography>

            <CustomTypography as="li">
              知識・技術を学習する
            </CustomTypography>

            <CustomTypography as="li">
              楽しんで仕事をする
            </CustomTypography>
          </CustomList>
        </section>
  
        <section class="principles-item">
          <CustomTypography variant="title-small" as="h3">
            創造する
          </CustomTypography>
  
          <CustomTypography variant="body-large">
            インプレッシブはクリエイティブの会社です。より良い物を生み出すために、下記を意識して行動しましょう。
          </CustomTypography>
    
          <CustomList class="principles-item-list">
            <CustomTypography as="li">
              妥協しない
            </CustomTypography>

            <CustomTypography as="li">
              挑戦する
            </CustomTypography>

            <CustomTypography as="li">
              よく考える
            </CustomTypography>

            <CustomTypography as="li">
              好奇心を持つ
            </CustomTypography>

            <CustomTypography as="li">
              美意識を持つ
            </CustomTypography>

            <CustomTypography as="li">
              同じ失敗を繰り返さない
            </CustomTypography>

            <CustomTypography as="li">
              新しい技術を率先して取り入れる
            </CustomTypography>

            <CustomTypography as="li">
              驚きや感動を与えるものを作る
            </CustomTypography>

            <CustomTypography as="li">
              リサーチを怠らない
            </CustomTypography>

            <CustomTypography as="li">
              迷ったらとりあえず行動する
            </CustomTypography>

            <CustomTypography as="li">
              常識にとらわれない
            </CustomTypography>

            <CustomTypography as="li">
              固定観念を持たない
            </CustomTypography>
          </CustomList>
        </section>
  
        <section class="principles-item">
          <CustomTypography variant="title-small" as="h3">
            環境を整える
          </CustomTypography>
  
          <CustomTypography variant="body-large">
            仕事を行う環境を整えることは、ストレスを軽減し、業務の効率化に直結します。美しい環境を保つために下記を意識して行動しましょう。
          </CustomTypography>
    
          <CustomList class="principles-item-list">
            <CustomTypography as="li">
              皆が能力を発揮できる環境を構築する
            </CustomTypography>

            <CustomTypography as="li">
              しっかりと挨拶をする
            </CustomTypography>

            <CustomTypography as="li">
              公共の設備は綺麗に使う
            </CustomTypography>

            <CustomTypography as="li">
              汚れている場所を見つけた場合は自主的に清掃を行う
            </CustomTypography>

            <CustomTypography as="li">
              データは整理整頓をし、共有可能な状態にする
            </CustomTypography>

            <CustomTypography as="li">
              自身の作業環境は常に整理整頓する
            </CustomTypography>

            <CustomTypography as="li">
              家族・仲間・自分を大切にする
            </CustomTypography>
          </CustomList>
        </section>
      </div>
    </section>

    <section class="content-section" id="Profile">
      <CustomTypography class="section-title" as="h2" variant="title-medium">Profile</CustomTypography>

      <div class="profile-table">
        <section class="profile-section" id="会社名">
          <CustomTypography variant="title-small">
            会社名
          </CustomTypography>
          <CustomTypography variant="body-large">
            株式会社インプレッシブ
          </CustomTypography>
        </section>
    
        <section class="profile-section" id="所在地">
          <CustomTypography variant="title-small">
            所在地
          </CustomTypography>
          <CustomTypography variant="body-large">
            〒151-0063<br />
            東京都渋谷区富ヶ谷2-22-12 ヴィトレ代々木パーク 4F
          </CustomTypography>
        </section>
    
        <section class="profile-section">
          <CustomTypography variant="title-small" id="設立">
            設立
          </CustomTypography>
          <CustomTypography variant="body-large">
            2004年01月09日
          </CustomTypography>
        </section>
    
        <section class="profile-section" id="役員構成">
          <CustomTypography variant="title-small">
            役員構成
          </CustomTypography>
          <CustomTypography variant="body-large">
            藤田 洋 (代表取締役社長)<br />
            中野 浩一 (取締役副社長)<br />
            喜田 豪人 (取締役)
          </CustomTypography>
        </section>
    
        <section class="profile-section" id="資本金">
          <CustomTypography variant="title-small">
            資本金
          </CustomTypography>
          <CustomTypography variant="body-large">
            10,000,000円
          </CustomTypography>
        </section>
    
        <section class="profile-section" id="従業員数">
          <CustomTypography variant="title-small">
            従業員数
          </CustomTypography>
          <CustomTypography variant="body-large">
            18名 (取締役3名含む)
          </CustomTypography>
        </section>
    
        <section class="profile-section" id="顧問弁護士">
          <CustomTypography variant="title-small">
            顧問弁護士
          </CustomTypography>
          <CustomTypography variant="body-large">
            佐々木勝洋法律事務所
          </CustomTypography>
        </section>
    
        <section class="profile-section" id="顧問税理士">
          <CustomTypography variant="title-small">
            顧問税理士
          </CustomTypography>
          <CustomTypography variant="body-large">
            IXS会計事務所
          </CustomTypography>
        </section>
    
        <section class="profile-section" id="適格請求書発行事業者登録番号">
          <CustomTypography variant="title-small">
            適格請求書発行事業者登録番号
          </CustomTypography>
          <CustomTypography variant="body-large">
            T1011001072670
          </CustomTypography>
        </section>
      </div>
    </section>
  </section>
</ContentPageLayout>

<style>
.body {
  display: flex;
  flex-direction: column;
  gap: var(--gap-large);
}

.content-section {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  padding: var(--gap-medium) 0;
}

.profile-table {
  border-top: 1px solid var(--border-default);
}

.section-title {
  color: var(--fg-subtle);
}

.profile-section {
  display: grid;
  flex-direction: column;
  gap: 1.6rem;
  grid-template-columns: 1fr 3fr;
  padding: 2.4rem 0;
  border-bottom: 1px solid var(--border-default);
}

.principles-list {
  display: grid;
  gap: var(--gap-medium);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.principles-item {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.principles-item-list {
  display: block;
}

@media (max-width: 768px) {
  .profile-section {
    grid-template-columns: 1fr;
  }
}
</style>