---
// 1. frontmatter propによりフロントマターとその他のデータにアクセスできます
const { frontmatter } = Astro.props;
---

<html>
  <head>
    <!-- スタイルやmetaタグなど、その他のhead要素をここに追加します -->
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <main class="contentBody">
        <!-- 共通のヘッダーやフッターなど、他のUIコンポーネントをここに追加します -->
        <h1>{frontmatter.title} {frontmatter.author}</h1>
        <!-- 2. レンダリングされたHTMLはデフォルトスロットに渡されます -->
        <slot />
        <p>投稿日: {frontmatter.date}</p>
    </main>
  </body>
</html>

<style is:global>
  video {
    max-width: 100%;
    height: auto;
  }
</style>