---
import "@fontsource/ibm-plex-sans-jp";
import "@/styles/global.css";
const { title } = Astro.props
---

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{ title }</title>
  </head>
  <body>
    <div class="layoutBase">
      <header class="header">
        <a href="/" class="logoWrapper">
          <svg width="132" height="24" viewBox="0 0 132 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M121.881 9.88213C121.717 8.99436 121.421 8.32031 120.993 7.85998C120.582 7.39965 119.949 7.16949 119.094 7.16949C118.535 7.16949 118.067 7.26813 117.689 7.46541C117.327 7.64626 117.031 7.87642 116.801 8.15591C116.587 8.43539 116.431 8.73131 116.332 9.04368C116.25 9.35605 116.201 9.63553 116.185 9.88213H121.881ZM116.185 12.1016C116.234 13.236 116.522 14.058 117.048 14.5676C117.574 15.0773 118.33 15.3321 119.316 15.3321C120.023 15.3321 120.632 15.1595 121.141 14.8142C121.651 14.4525 121.963 14.0744 122.078 13.6798H125.161C124.668 15.2088 123.911 16.3021 122.892 16.9597C121.873 17.6173 120.64 17.9461 119.193 17.9461C118.19 17.9461 117.286 17.7899 116.48 17.4775C115.675 17.1487 114.993 16.6884 114.434 16.0966C113.875 15.5047 113.439 14.7978 113.127 13.9758C112.831 13.1538 112.683 12.2495 112.683 11.2631C112.683 10.3096 112.839 9.42181 113.151 8.59979C113.464 7.77778 113.908 7.07085 114.483 6.479C115.058 5.87071 115.741 5.39394 116.53 5.04869C117.335 4.70345 118.223 4.53082 119.193 4.53082C120.278 4.53082 121.223 4.74455 122.029 5.17199C122.835 5.583 123.492 6.14197 124.002 6.8489C124.528 7.55583 124.906 8.36141 125.136 9.26562C125.366 10.1698 125.449 11.1152 125.383 12.1016H116.185Z" fill="currentColor"/>
            <path d="M107.54 17.6255H103.644L99.2791 4.87604H102.953L105.641 13.5812H105.691L108.379 4.87604H111.856L107.54 17.6255Z" fill="currentColor"/>
            <path d="M97.7301 2.90328H94.2283V0.0180054H97.7301V2.90328ZM94.2283 4.87611H97.7301V17.6256H94.2283V4.87611Z" fill="currentColor"/>
            <path d="M83.597 13.4826C83.597 13.8607 83.671 14.1895 83.8189 14.469C83.9833 14.732 84.1888 14.954 84.4354 15.1348C84.682 15.2992 84.9615 15.4225 85.2739 15.5047C85.6027 15.5869 85.9397 15.628 86.285 15.628C86.5316 15.628 86.7864 15.6034 87.0494 15.554C87.3289 15.4883 87.5755 15.3978 87.7893 15.2828C88.0194 15.1512 88.2085 14.9868 88.3565 14.7896C88.5044 14.5758 88.5784 14.3128 88.5784 14.0004C88.5784 13.4743 88.2249 13.0798 87.518 12.8167C86.8275 12.5537 85.8575 12.2906 84.6081 12.0276C84.0984 11.9125 83.597 11.781 83.1038 11.633C82.627 11.4686 82.1996 11.2631 81.8214 11.0165C81.4433 10.7535 81.1392 10.4329 80.909 10.0548C80.6788 9.66019 80.5638 9.18342 80.5638 8.62445C80.5638 7.80244 80.7199 7.12839 81.0323 6.6023C81.3611 6.07621 81.7886 5.6652 82.3146 5.36928C82.8407 5.05691 83.4326 4.84319 84.0902 4.72811C84.7478 4.59658 85.4219 4.53082 86.1123 4.53082C86.8028 4.53082 87.4687 4.59658 88.1098 4.72811C88.7675 4.85963 89.3511 5.08157 89.8607 5.39394C90.3704 5.7063 90.7896 6.12553 91.1184 6.65162C91.4637 7.16127 91.6692 7.81066 91.7349 8.59979H88.4058C88.3564 7.92574 88.1016 7.47363 87.6413 7.24347C87.181 6.99687 86.6384 6.87356 86.0137 6.87356C85.8164 6.87356 85.6027 6.89 85.3725 6.92288C85.1424 6.93932 84.9286 6.98864 84.7314 7.07085C84.5505 7.15305 84.3943 7.27635 84.2628 7.44075C84.1313 7.58872 84.0655 7.79422 84.0655 8.05726C84.0655 8.36963 84.1806 8.62445 84.4108 8.82174C84.6409 9.01902 84.9369 9.18342 85.2985 9.31494C85.6767 9.43003 86.1041 9.53689 86.5809 9.63553C87.0577 9.73417 87.5427 9.84103 88.0359 9.95612C88.5455 10.0712 89.0387 10.2109 89.5155 10.3753C90.0087 10.5397 90.4444 10.7617 90.8225 11.0412C91.2006 11.3042 91.5048 11.6412 91.7349 12.0523C91.9651 12.4468 92.0802 12.94 92.0802 13.5319C92.0802 14.3703 91.9076 15.0773 91.5623 15.6527C91.2335 16.2116 90.7978 16.6638 90.2553 17.009C89.7128 17.3542 89.088 17.5926 88.3811 17.7242C87.6906 17.8721 86.9837 17.9461 86.2603 17.9461C85.5205 17.9461 84.7971 17.8721 84.0902 17.7242C83.3833 17.5762 82.7503 17.3296 82.1913 16.9843C81.6488 16.6391 81.1967 16.187 80.835 15.628C80.4898 15.0526 80.3007 14.3375 80.2678 13.4826H83.597Z" fill="currentColor"/>
            <path d="M70.3516 13.4826C70.3516 13.8607 70.4256 14.1895 70.5736 14.469C70.738 14.732 70.9435 14.954 71.1901 15.1348C71.4367 15.2992 71.7162 15.4225 72.0285 15.5047C72.3573 15.5869 72.6944 15.628 73.0396 15.628C73.2862 15.628 73.541 15.6034 73.8041 15.554C74.0836 15.4883 74.3302 15.3978 74.5439 15.2828C74.7741 15.1512 74.9631 14.9868 75.1111 14.7896C75.2591 14.5758 75.333 14.3128 75.333 14.0004C75.333 13.4743 74.9796 13.0798 74.2726 12.8167C73.5821 12.5537 72.6122 12.2906 71.3627 12.0276C70.8531 11.9125 70.3516 11.781 69.8584 11.633C69.3816 11.4686 68.9542 11.2631 68.5761 11.0165C68.1979 10.7535 67.8938 10.4329 67.6636 10.0548C67.4335 9.66019 67.3184 9.18342 67.3184 8.62445C67.3184 7.80244 67.4746 7.12839 67.7869 6.6023C68.1157 6.07621 68.5432 5.6652 69.0693 5.36928C69.5954 5.05691 70.1872 4.84319 70.8448 4.72811C71.5024 4.59658 72.1765 4.53082 72.867 4.53082C73.5575 4.53082 74.2233 4.59658 74.8645 4.72811C75.5221 4.85963 76.1057 5.08157 76.6154 5.39394C77.125 5.7063 77.5442 6.12553 77.8731 6.65162C78.2183 7.16127 78.4238 7.81066 78.4896 8.59979H75.1604C75.1111 7.92574 74.8563 7.47363 74.3959 7.24347C73.9356 6.99687 73.3931 6.87356 72.7683 6.87356C72.5711 6.87356 72.3573 6.89 72.1272 6.92288C71.897 6.93932 71.6833 6.98864 71.486 7.07085C71.3052 7.15305 71.149 7.27635 71.0175 7.44075C70.8859 7.58872 70.8202 7.79422 70.8202 8.05726C70.8202 8.36963 70.9353 8.62445 71.1654 8.82174C71.3956 9.01902 71.6915 9.18342 72.0532 9.31494C72.4313 9.43003 72.8588 9.53689 73.3355 9.63553C73.8123 9.73417 74.2973 9.84103 74.7905 9.95612C75.3001 10.0712 75.7934 10.2109 76.2701 10.3753C76.7633 10.5397 77.199 10.7617 77.5771 11.0412C77.9553 11.3042 78.2594 11.6412 78.4896 12.0523C78.7197 12.4468 78.8348 12.94 78.8348 13.5319C78.8348 14.3703 78.6622 15.0773 78.3169 15.6527C77.9881 16.2116 77.5525 16.6638 77.0099 17.009C76.4674 17.3542 75.8427 17.5926 75.1357 17.7242C74.4453 17.8721 73.7383 17.9461 73.015 17.9461C72.2751 17.9461 71.5518 17.8721 70.8448 17.7242C70.1379 17.5762 69.5049 17.3296 68.946 16.9843C68.4034 16.6391 67.9513 16.187 67.5897 15.628C67.2444 15.0526 67.0553 14.3375 67.0225 13.4826H70.3516Z" fill="currentColor"/>
            <path d="M62.0603 9.88213C61.8959 8.99436 61.6 8.32031 61.1725 7.85998C60.7615 7.39965 60.1285 7.16949 59.2736 7.16949C58.7147 7.16949 58.2461 7.26813 57.868 7.46541C57.5063 7.64626 57.2104 7.87642 56.9802 8.15591C56.7665 8.43539 56.6103 8.73131 56.5117 9.04368C56.4295 9.35605 56.3802 9.63553 56.3637 9.88213H62.0603ZM56.3637 12.1016C56.413 13.236 56.7007 14.058 57.2268 14.5676C57.7529 15.0773 58.5092 15.3321 59.4956 15.3321C60.2025 15.3321 60.8108 15.1595 61.3205 14.8142C61.8301 14.4525 62.1425 14.0744 62.2576 13.6798H65.3401C64.8469 15.2088 64.0906 16.3021 63.0714 16.9597C62.0521 17.6173 60.819 17.9461 59.3723 17.9461C58.3694 17.9461 57.4652 17.7899 56.6596 17.4775C55.8541 17.1487 55.1718 16.6884 54.6128 16.0966C54.0539 15.5047 53.6182 14.7978 53.3058 13.9758C53.0099 13.1538 52.8619 12.2495 52.8619 11.2631C52.8619 10.3096 53.0181 9.42181 53.3305 8.59979C53.6429 7.77778 54.0867 7.07085 54.6622 6.479C55.2376 5.87071 55.9198 5.39394 56.709 5.04869C57.5145 4.70345 58.4023 4.53082 59.3723 4.53082C60.4574 4.53082 61.4027 4.74455 62.2082 5.17199C63.0138 5.583 63.6714 6.14197 64.1811 6.8489C64.7072 7.55583 65.0853 8.36141 65.3155 9.26562C65.5456 10.1698 65.6278 11.1152 65.5621 12.1016H56.3637Z" fill="currentColor"/>
            <path d="M44.3271 4.87607H47.6563V7.24347H47.7056C47.87 6.8489 48.092 6.48722 48.3715 6.15841C48.6509 5.81316 48.9715 5.52546 49.3332 5.2953C49.6949 5.04869 50.0813 4.85963 50.4923 4.72811C50.9033 4.59658 51.3307 4.53082 51.7746 4.53082C52.0048 4.53082 52.2596 4.57192 52.5391 4.65412V7.9093C52.3747 7.87642 52.1774 7.85176 51.9472 7.83532C51.7171 7.80244 51.4951 7.786 51.2814 7.786C50.6402 7.786 50.0977 7.89286 49.6538 8.10659C49.2099 8.32031 48.8482 8.61623 48.5687 8.99436C48.3057 9.35605 48.1166 9.78349 48.0016 10.2767C47.8865 10.7699 47.8289 11.3042 47.8289 11.8796V17.6255H44.3271V4.87607Z" fill="currentColor"/>
            <path d="M35.688 15.3321C36.2634 15.3321 36.7401 15.217 37.1183 14.9868C37.5128 14.7567 37.8252 14.4608 38.0554 14.0991C38.302 13.7209 38.4746 13.2853 38.5732 12.7921C38.6719 12.2989 38.7212 11.7974 38.7212 11.2878C38.7212 10.7781 38.6637 10.2767 38.5486 9.78349C38.4499 9.29028 38.2773 8.85462 38.0307 8.47649C37.7841 8.08192 37.4635 7.76956 37.0689 7.53939C36.6908 7.29279 36.2223 7.16949 35.6633 7.16949C35.0879 7.16949 34.6029 7.29279 34.2083 7.53939C33.8302 7.76956 33.5178 8.0737 33.2712 8.45183C33.0411 8.82996 32.8767 9.26562 32.778 9.75883C32.6794 10.252 32.6301 10.7617 32.6301 11.2878C32.6301 11.7974 32.6794 12.2989 32.778 12.7921C32.8931 13.2853 33.0657 13.7209 33.2959 14.0991C33.5425 14.4608 33.8631 14.7567 34.2577 14.9868C34.6522 15.217 35.129 15.3321 35.688 15.3321ZM29.2516 4.87607H32.5807V6.50366H32.6301C33.0575 5.81316 33.6 5.31174 34.2577 4.99937C34.9153 4.68701 35.6386 4.53082 36.4278 4.53082C37.4306 4.53082 38.2937 4.71989 39.0171 5.09801C39.7405 5.47614 40.3406 5.97757 40.8173 6.6023C41.2941 7.22703 41.6476 7.95862 41.8777 8.79708C42.1079 9.61909 42.223 10.4822 42.223 11.3864C42.223 12.2413 42.1079 13.0633 41.8777 13.8525C41.6476 14.6416 41.2941 15.3403 40.8173 15.9486C40.357 16.5569 39.7734 17.0419 39.0664 17.4036C38.3759 17.7653 37.5622 17.9461 36.6251 17.9461C35.8359 17.9461 35.1043 17.7899 34.4303 17.4775C33.7727 17.1487 33.2301 16.672 32.8027 16.0472H32.7534V23.9783H29.2516L29.2516 4.87607Z" fill="currentColor"/>
            <path d="M7.00171 4.87607H10.3062V6.6023H10.3555C10.8159 5.94469 11.3666 5.43504 12.0078 5.07335C12.6654 4.71167 13.4134 4.53082 14.2519 4.53082C15.0575 4.53082 15.789 4.68701 16.4467 4.99937C17.1207 5.31174 17.6304 5.86249 17.9756 6.65162C18.3537 6.09265 18.8634 5.59944 19.5045 5.17199C20.1622 4.74455 20.9349 4.53082 21.8226 4.53082C22.4967 4.53082 23.1214 4.61302 23.6968 4.77743C24.2722 4.94183 24.7654 5.20487 25.1764 5.56656C25.5875 5.92825 25.908 6.40502 26.1382 6.99687C26.3684 7.57228 26.4834 8.27099 26.4834 9.093V17.6255H22.9817V10.4C22.9817 9.97256 22.9652 9.56977 22.9323 9.19165C22.8995 8.81352 22.809 8.48471 22.6611 8.20523C22.5131 7.92574 22.2912 7.7038 21.9952 7.5394C21.7158 7.37499 21.3294 7.29279 20.8362 7.29279C20.343 7.29279 19.9402 7.39143 19.6279 7.58872C19.3319 7.76956 19.0935 8.01616 18.9127 8.32853C18.7483 8.62445 18.6332 8.9697 18.5675 9.36427C18.5181 9.74239 18.4935 10.1287 18.4935 10.5233V17.6255H14.9917V10.474C14.9917 10.0959 14.9835 9.72595 14.967 9.36427C14.9506 8.98614 14.8766 8.64089 14.7451 8.32853C14.63 8.01616 14.4245 7.76956 14.1286 7.58872C13.8491 7.39143 13.4299 7.29279 12.8709 7.29279C12.7065 7.29279 12.4845 7.33389 12.2051 7.41609C11.942 7.48185 11.679 7.6216 11.4159 7.83532C11.1693 8.0326 10.9556 8.32853 10.7748 8.7231C10.5939 9.10122 10.5035 9.60265 10.5035 10.2274V17.6255H7.00171V4.87607Z" fill="currentColor"/>
            <path d="M0 0.0179443H3.87169V17.6255H0V0.0179443Z" fill="currentColor"/>
            <path d="M0.0119629 20.7271H26.4834V23.9822H0.0119629V20.7271Z" fill="currentColor"/>
            <path d="M129.2 2.80066H131.959V4.63253H129.2V7.43983H127.154V4.63253H124.394V2.80066H127.154V0.0171509H129.2V2.80066Z" fill="currentColor"/>
          </svg>
        </a>

        <nav class="siteNav">
          <a href="/works">Works</a>
          <a href="/members">Members</a>
        </nav>
      </header>
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>

<style>
  body {
    font-family: 'Helvetica', 'IBM Plex Sans JP', sans-serif;
  }

  .logoWrapper {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 132px;
    height: 24px;
    vertical-align: middle;
  }

  .header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.7);
  }

  .siteNav {
    display: flex;
    gap: clamp(1rem, 0.867rem + 0.67vw, 1.5rem);
  }

  .layoutBase {
    max-width: 1520px;
    padding: 0 24px;
    margin-inline: auto;
  }
</style>